<div class="new-message">
  <% if logged_in? %>
    <%= form_for @message do |f| %>
    <%= f.hidden_field :conversation_id, value: @conversation.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
      <div>
        <div><%= f.label :content, "New Message" %></div>
        <div><%= f.text_area :content, :cols => "200", :rows => "20" %></div>
      </div>
      <%= f.submit %>
    <% end %>
  <% end %>
</div>
